<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Health Care Hospital Website Template | Smarteyeapps.com</title>

    <link rel="shortcut icon" href="static/assets/images/fav.jpg">
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="static/assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="static/assets/css/style.css" />
</head>

<body>

    <!-- ################# Header Starts Here#######################--->
    <header>
        
        <div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 nav-img">
                        <img src="assets/images/logo.png" alt="">
                        <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-sm-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about_us.html">About Us</a></li>
                            <li><a href="services.html">Services</a></li>
                            <!--<li><a href="/about">Diagnosis with AI</a></li>-->
                            <li><a ui-sref="contact" onClick="document.getElementById('contact_us').scrollIntoView();">Contact Us</a></li>
                            <li><a href="/P_login">Login</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </header>

    <!-- ################# Banner Starts Here#######################--->
    <div id="demo" class="banner container-fluid">
        <div class="layy">
            <div class="container">
                <h2 class= "leftalign">We care your health more <br>
                    than Anything in the World</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here</p>
                <div class=" btnm w-100">
                    <a href="/about" class="button" id"btn btn-default "><button class="btn btn-default ">AI Checkup</button></a>  
                    <button class="btn btn-default ">Contact Us</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ################# Service Starts Here#######################--->

    <section class="our-blog container-fluid">
        <div class="container">
            <div class="session-title row">
                <h2>Our Services</h2>
                <p>Not the answer you're looking for? Printing and typesetting inLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s Lorem</p>
            </div>
            <div class="col-sm-12 blog-cont">
                <div class="row no-margin">
                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-1.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Diabetes</h6>
                                <p>Not the answer you're looking for? Browse other questions tagged is simply dummy text of the printing and typesetting in</p>
                                <a href="/about">
                                    <button class="btn btn-success btn-sm">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-2.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Heart</h6>
                                <p>Not the answer you're looking for? Browse other questions tagged is simply dummy text of the printing and typesetting in</p>
                                <a href="/about">
                                    <button class="btn btn-success btn-sm">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-3.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Other Services</h6>
                                <p>Not the answer you're looking for? Browse other questions tagged is simply dummy text of the printing and typesetting in</p>
                                <a href="about.html">
                                    <button class="btn btn-success btn-sm">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>


    <!--  ************************* Blog Starts Here ************************** -->

    <!-- ################# Clinic Number Starts Here#######################--->


<!--    <div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
                <div class="row session-title">
                    <h2>Our Clinic in numbers</h2>
                    <p>We can talk for a long time about advantages of our Dental clinic before other medical treatment facilities.
                        But you can read the following facts in order to make sure of all pluses of our clinic:</p>
                </div>
                <div class="row">
                    <div class="col-sm-3 numb">
                        <h3>12+</h3>
                        <span>YEARS OF EXPEREANCE</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>212+</h3>
                        <span>HAPPY PATIENTS</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>52+</h3>
                        <span>QUALIFIED STUFF</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>18+</h3>
                        <span>MASTER CERTIFICATIONS</span>
                    </div>
                </div>
            </div>

        </div>

    </div>-->
<!--  ************************* About Us Starts Here ************************** -->
        
    <section class="about-us">
        <div id="demo1" class="row no-margin">
            <div class="col-sm-6 image-bg no-padding">
                
            </div>
            <div class="col-sm-6 abut-yoiu">
                <h3>About Our Hospital</h3>
                <p>
                    
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem fugit natus at, voluptatum deserunt dolorum quam tempore aliquam ducimus, nemo iure eum voluptates enim placeat sequi voluptate, atque sint perferendis.
                    <br>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eaque cupiditate minima, harum tempora corrupti tenetur impedit cum sint deserunt, aliquam eveniet quos facilis voluptatem temporibus! Obcaecati tenetur ex deserunt.
                      <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repudiandae, rem dolorem aliquam accusamus dolores repellendus praesentium optio vitae dolor sapiente. Sed est possimus accusamus nesciunt! Vel delectus architecto molestiae.
                </p>
            </div>
        </div>
    </section>    


    <!--  ************************* Gallery Starts Here ************************** -->
    <div id="gallery" class="gallery">
        <div class="container">
           <div class="session-title row">
                <h2>Our Gallery</h2>
                <p>Not the answer you're looking for? Printing and typesetting inLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s Lorem</p>
            </div>
            <div class="row">


               <!-- <div class="gallery-filter d-none d-sm-block">
                    <button class="btn btn-default filter-button" data-filter="all">All</button>
                    <button class="btn btn-default filter-button" data-filter="hdpe">Dental</button>
                    <button class="btn btn-default filter-button" data-filter="sprinkle">Cardiology</button>
                    <button class="btn btn-default filter-button" data-filter="spray"> Neurology</button>
                    <button class="btn btn-default filter-button" data-filter="irrigation">Laboratry</button>
                </div> -->
                <br />



                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="static/assets/images/gallery/gallery_01.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <img src="static/assets/images/gallery/gallery_02.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="static/assets/images/gallery/gallery_03.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="static/assets/images/gallery/gallery_04.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="static/assets/images/gallery/gallery_05.jpg" class="img-responsive">
                </div>



                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="static/assets/images/gallery/gallery_06.jpg" class="img-responsive">
                </div>

            </div>
        </div>


    </div>
    <!-- ######## Gallery End ####### -->
    
    
   

    <!-- ################# Our Team Starts Here#######################--->
    <section class="our-team">
        <div class="container">
            <div class="inner-title row">
                <h2>Our Team</h2>
                <p>Take a look at our Team</p>
            </div>
            <div class="row team-row">
                <div class="col-md-4 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb1.jpg" alt="">
                        <div class="det-o">
                            <h4>Devesh More</h4>
                            <i>Coder</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb2.jpg" alt="">
                        <div class="det-o">
                            <h4>Rahul Parande</h4>
                            <i>Coder</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb3.jpg" alt="">
                        <div class="det-o">
                            <h4>Gaurav Patel</h4>
                            <i>Coder</i>
                        </div>
                    </div>
                </div>
               <!-- <div class="col-md-3 col-sm-6">
                    <div class="single-usr">
                        <img src="assets/images/team/team-memb4.jpg" alt="">
                        <div class="det-o">
                            <h4>David Kanuel</h4>
                            <i>Facial Surgan</i>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>


    </section>


    <!--  ************************* Contact Us Starts Here ************************** -->

    <section id="contact_us" class="contact-us-single">
        <div class="row no-margin">
            <div class="col-sm-6 no-padding">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1s8nSNgjBmlnj67Io6c6L64IO-Re0d8t4&ehbc=2E312F" width="640" height="480"></iframe>
            </div>
            <div class="col-sm-6 cop-ck">
                <h2>Contact Form</h2>
                <div class="row cf-ro">
                    <div class="col-sm-3"><label>Enter Name :</label></div>
                    <div class="col-sm-8"><input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"></div>
                </div>
                <div class="row cf-ro">
                    <div class="col-sm-3"><label>Email Address :</label></div>
                    <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Email Address" class="form-control input-sm"></div>
                </div>
                <div class="row cf-ro">
                    <div class="col-sm-3"><label>Mobile Number:</label></div>
                    <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Mobile Number" class="form-control input-sm"></div>
                </div>
                <div class="row cf-ro">
                    <div class="col-sm-3"><label>Enter Message:</label></div>
                    <div class="col-sm-8">
                        <textarea rows="5" placeholder="Enter Your Message" class="form-control input-sm"></textarea>
                    </div>
                </div>
                <div class="row cf-ro">
                    <div class="col-sm-3"><label></label></div>
                    <div class="col-sm-8">
                        <button class="btn btn-success btn-sm">Send Message</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ################# Footer Starts Here#######################--->


    <footer class="footer">
            <div class="container">
                <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium aut expedita architecto, obcaecati ipsam, totam esse labore aliquid culpa repellat sed nesciunt animi nihil. Vitae voluptatibus nisi dolorem dolore distinctio?
                    </p>
                    <p>We focus on technologies that promise to reduce costs, streamline processes and speed time-to-market, Backed by our strong quality processes and rich experience managing global... </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2> Links </h2>
                    <ul class="list-unstyled link-list">
        
                        <li><a ui-sref="about" onClick="document.getElementById('demo').scrollIntoView();">About us</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="portfolio" onClick="document.getElementById('demo1').scrollIntoView();">Portfolio</a><i class="fa fa-angle-right"></i></li>
                        
                        <li><a ui-sref="gallery" onClick="document.getElementById('gallery').scrollIntoView();">Gallery</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="contact" onClick="document.getElementById('contact_us').scrollIntoView();">Contact us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                    
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        Sakec <br>
                        Chembur <br>
                        Mumbai, IND <br>
                        Phone: +91 123456789 <br>
                        Email: <a href="mailto:abc@gmail.com" class="">abc@gmail.com</a><br>
                        
                    </address>

                </div>
            </div>  
        </div>
    
    </footer>
    <div class="copy">
        <div class="container">
            <a>2021 &copy; All Rights Reserved | Designed and Developed by SAKEC</a>
            <span>
                <a href="https://github.com/"><i class="fab fa-github"></i></a>
                <a href="https://www.google.com/"><i class="fab fa-google-plus-g"></i></a>
                <a href="https://in.pinterest.com/"><i class="fab fa-pinterest-p"></i></a>
                <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            </span>
        </div>

    </div>

</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/plugins/scroll-nav/js/jquery.easing.min.js"></script>
<script src="assets/plugins/scroll-nav/js/scrolling-nav.js"></script>
<script src="assets/js/script.js"></script>


</html>